@import url('./header.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    padding-bottom: 20px;
}

.card {
    display: flex;
    align-items: center;
    min-width: 235px;
    max-width: 600px;
    align-self: center;
    margin: 0 20px;
    position: relative;
}

.img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.info {
    padding: 16px 20px;
    line-height: 26px;
}

.view-on-map {
    display: flex;
    align-items: center;
}

.view-on-map i {
    color: #F55A5A;
    margin-right: 5px;
}

.view-on-map p {
    text-transform: uppercase;
    margin-right: 15px;
}

.view-on-map a {
    color: #918E9B;
}

.bold {
    font-weight: 700;
}

.place-name {
    font-size: 25px;
    margin-bottom: 20px;
}

.description {
    line-height: normal;
    white-space: pre-wrap;
    word-break: keep-all;
}

hr {
    background-color: #F5F5F5;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: -18px;
    height: 1px;
    border: none;
    border-radius: 2px;
}

@media only screen and (max-width: 600px) {
    .card {
        flex-direction: column;
    }

    .img-container {
        padding: 16px 20px;
    }

    .img {
        width: 80vw;
    }
}